
@media only screen and (min-width:1000px) and (max-width : 1420px){
    .welcome_menu {
        flex-basis: 20%;
    }
    .welcome_content {
        flex-basis: 70%;
    }
}

@media only screen and (min-width:756px) and (max-width : 1000px){

    .welcome_menu {
        flex-basis: 35%;
    }
    .welcome_content {
        flex-basis: 70%;
    }

}

@media only screen and (min-width:400px) and (max-width : 756px){

    .welcome_menu {
        width: 100%;
        text-align: center;
    }
    .welcome_content {
        width: 100%;
    }
}